{
  "extends": "loopback",
  "rules": {
    "max-len": [
      "error",
      90,
      4,
      {
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignorePattern": "^\\s*var\\s.+=\\s*(require\\s*\\()|(/)"
      }
    ],
    "one-var": "off",
    "no-unused-expressions": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}